/* @font-face {
  font-family: 'Dawning';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Pacifico') format('tff');
} */

img#fake-image,
.jcrop-holder,
.jcrop-holder img,
.jcrop-tracker {
  width: 100% !important; height: 100% !important;
  max-width: 100% !important; max-height: 100% !important;
  min-width: 100% !important; min-height: 100% !important;
}

img#fake-image {
  position: fixed; top: 0; left: 0; z-index: 1;
}

.jcrop-holder {
  position: fixed !important; top: 0 !important; left: 0 !important;
  z-index: 2147483647 !important;
}

#postcard-overlay-container{
  position: fixed;
  z-index: 210001;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#postcard-overlay{
  position: relative;
  z-index: 210001;
  box-shadow: 4px 4px 30px 0px 10px rgba(0, 0, 0, 0.3);
  /* top: 5%;
  left: 12.5vw; */
  width: 80vw;
  height: 80vh;
  min-width: 600px;
  min-height: 400px;
  max-width: 800px;
  max-height: 500px;
  background: #f4f2fe;
  border-radius: 4px;
  border: 2px solid #ACB7FD;
}

#postcard-underlay{
  position: fixed;
  z-index: 210000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  margin: 0px;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

#postcard-overlay #postcard-image-container{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* box-shadow: 0px 1.2vw 4vw -1vw rgba(0, 0, 0, 0.3); */
  box-shadow: 0px 2.4em 6em -2em rgba(105, 108, 170, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

#postcard-overlay #postcard-image-container img{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#postcard-overlay #close-button{
  position: absolute;
  right: 8px;
  top: 8px;
  margin: 0px !important;
  width: 20px !important;
  height: 20px !important;
}

#postcard-overlay canvas {
  display: inline;
  width: 100%;
  height: 100%;
}

#postcard-overlay h1{
    text-align: center;
    font-size: 1.9em;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 300 !important;
    color: #ACB7FD;
    font-family: 'Pacifico', cursive !important;
}

#postcard-overlay #card-container {
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 padding: 0;
}
/*  #container {
	 display: flex;
	 justify-content: space-around;
	 align-items: center;
	 background-image: linear-gradient(to bottom right, #52c234, #061700 120%);
} */

#postcard-overlay #options {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#postcard-overlay #options img{
  width: 100%;
  margin-bottom: 0.5em;
  transition-duration: 0.1s;
}

#postcard-overlay #options img:hover{
  width: 110%;
  margin-bottom: calc(0.5em - 10%);
  margin-left: calc(-5%);
  cursor: pointer;
}

#postcard-overlay .card-and-options{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 315px;
}

#postcard-overlay .card {
   width: 490px;
   height: 315px;
	 perspective: 100vw;
	 perspective-origin: 50% 50%;
	 transform-style: preserve-3d;
   border-radius: 4px;
}

#postcard-overlay .card .face {
	 backface-visibility: hidden;
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 transition: transform 0.35s cubic-bezier(0.13, 1, 0.39, 1), box-shadow 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), border-width 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98);
   /*transition: transform 0.35s cubic-bezier(0.13, 1, 0.39, 1);*/

}

#postcard-overlay .card .front {
   width: 100%;
   height: 100%;
	 transform: rotateX(0deg);
}

#postcard-overlay .card .back {
   width: 100%;
   height: 100%;
	 transform: rotateX(180deg);
   background: #fbf9f5;
   border: 1px solid rgba(0, 0, 0, 0.15);

}

#postcard-overlay .address{
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: calc(50%);
  clear: both;
}


#postcard-overlay .address p{
  position: relative;
  display: inline;
  width: 80%;
  margin-left: 10%;
  clear: both;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  line-height: 2em;
  font-size: 1em;
  border-bottom: 2px solid black;
}

#postcard-overlay .address input{
  position: relative;
  display: inline;
  width: 80%;
  margin-left: 10%;
  clear: both;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  line-height: 25px;
  font-size: 1em;
  border-bottom: 2px solid black;
}
#postcard-overlay .card:hover .front, .card.hover .front {
	 transform: rotateX(5deg);
   box-shadow: 0px 8vw 7vw -5vw rgba(105, 108, 170, 0.3);
	 /* box-shadow: 0px 10vw 9vw -6vw rgba(0, 0, 0, 0.4);
	 border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	 border-top: 1px solid rgba(0, 0, 0, 0.8); */
}

#postcard-overlay #greetings{
  position: absolute;
  top: 1%;
  left: 0.5em;
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'Kalam', cursive;
  -webkit-text-stroke: 1px white;
  color: #ea2020;
}

#postcard-overlay #wish{
  position: absolute;
  bottom: 2%;
  right: 0.5em;
  font-weight: 400;
  font-size: 2.5em;
  -webkit-text-stroke: 1px white;
  font-family: 'Kalam', cursive;
  color: #ea2020;
}

#postcard-overlay #threejs{
    position: absolute;
    top: -23%;
    width: 100%;
    height: 100%;
}

#postcard-overlay #threejs canvas{
    width: 100% !important;
    height: 100% !important;
}

#postcard-overlay .vert-ruler{
  position: absolute;
  width: 2px;
  height: 90%;
  top: 5%;
  background-color: black;
  left: 50%;
}

#postcard-overlay #flip{
  opacity: 0;
  color: white;
  font-size: 1em;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: -20px;
  text-align: center;
  z-index: 2;
  transform: translate3d(0px, 0px, 100px);
  transition-duration: 0.5s;
  font-style: italic;
}

#postcard-overlay .card:hover #flip, .card.hover #flip {
   opacity: 1;
}

#postcard-overlay .card.flipped .front {
	 transform: rotateX(180deg);
}

#postcard-overlay .card.flipped .back {
	 transform: rotateX(360deg);
   box-shadow: 4px 4px 30px 0px 10px rgba(0, 0, 0, 0.3);
}

#postcard-overlay .card.flipped:hover .front, .card.flipped.hover .front {
	 transform: rotateX(200deg);
}
#postcard-overlay .card.flipped:hover .back, .card.flipped.hover .back {
	 transform: rotateX(340deg);
}

#postcard-overlay #stamp{
  position: absolute;
  width: 5em;
  transform: rotate(10deg);
  right: 0.5em;
  top: 0.5em;
}

#postcard-overlay input:focus {outline:none;}
